# Core functionality - changes here should be rare!
/src/app.py                   @JAA09313
/src/backend/database.py      @JAA09313
/src/backend/routers/auth.py  @JAA09313

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JAA09313
